/nvidia-settings-470.74.tar.bz2
/nvidia-settings-470.82.00.tar.bz2
/nvidia-settings-470.86.tar.bz2
/nvidia-settings-470.94.tar.gz
/nvidia-settings-470.103.01.tar.gz
/nvidia-settings-470.129.06.tar.gz
/nvidia-settings-470.141.03.tar.gz
/nvidia-settings-470.161.03.tar.gz
/nvidia-settings-470.182.03.tar.gz
/nvidia-settings-470.199.02.tar.gz
/nvidia-settings-470.223.02.tar.gz
